.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

canvas {
    margin-bottom: auto;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    /* flex: 1; */
}

.diaglog {
    border: none !important;
    border-radius: calc(5px * var(--ratio));
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.9);
    padding: 1.6rem;
    max-width: 400px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.statistic {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.item {
    border: 1px solid black;
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
